.logo {
  background-color: lightblue;
  width: 300px;
  color: #808080;
  text-align: center;
  border-radius: 25px;
  margin-left: 7%;
}

.flex {
  display: flex;

  flex-wrap: wrap;
}

.missionStatement {
  background-color: lightblue;
  width: 55%;
  height: 500px;
  margin: auto;
}

.login {
  background-color: lightblue;
  width: 25%;
  height: 500px;
  margin: auto;
  text-align: center;
}

.formContainer {
  display: inline-block;
  width:300px;
}

input[type=text], input[type=password], select[type=dropdown]{
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.sign-up {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.myBuildingContainer {
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
  height: 800px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.buildingComponent {
  margin: auto;
  width: 25%;
  height: 300px;
  background-color: #eee;
  text-align: center;
}

.mybuiliding {
  margin: auto;
  position: absolute;
}

.listItem {
  text-align: left;
}

.myBuildingRow {
  margin: auto;
  width: 100%;
  display: flex;
}
