.logo {
  background-color: lightblue;
  width: 300px;
  color: #808080;
  text-align: center;
  border-radius: 25px;
  margin-left: 7%;
}

.flex {
  display: flex;

  flex-wrap: wrap;
}

.missionStatement {
  background-color: lightblue;
  width: 55%;
  height: 500px;
  margin: auto;
}

.login {
  background-color: lightblue;
  width: 25%;
  height: 500px;
  margin: auto;
}
